@import "~the-new-css-reset";
@import "../css/fonts.scss";
@import "../css/colors.scss";

@mixin hover {
  @media (any-hover: hover) {
    @content;
  }
}

@mixin width_950 {
  @media (width <= 950px) {
    @content;
  }
}

:root {
  --header-height: 7.5rem;
  --sliderCard-width: 1.5em;
}

body {
  background-color: $primaryBackground;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: 83.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--small'] {
  max-width: 75.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--xsmall'] {
  max-width: 48.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.botton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8.8125rem;
  min-height: 3rem;
  background-color: $accentBrand;
  border-radius: 0.4556rem;
}

.header {
  &__container {
    color: #fff;
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 7;
  }
  &__logo {
    margin-right: auto;
    position: relative;
    z-index: 8;

  }

  &__navigation {
    font-family: Space_Mono, sans-serif;
    font-size: 1rem;
    padding-left: 0.75rem;
    &-items {
      transition: left .4s;
      @include width_950 {
        background-color: rgba($color: $secondaryBackground, $alpha: 1);
        z-index: 7;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: -100vw;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        &--active {
          left: 0;
        }
      }
      display: flex;
      align-items: center;
      &-item:not(:last-child) {
        margin-right: 1rem;
        @include width_950 {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }
    &-link{
      transition: .3s ease-in-out;
      @include hover {
        &:hover {
          color: $icons;
        }
      }
    }

  }
  &__bottons {
    font-family: Circular_Std, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    &-botton {
      @include width_950 {
        display: none;
      }
    }
    
    &-botton:first-child {
      margin-left: 0.75rem;
    }
    &-botton:not(:last-child) {
      margin-right: 0.75rem;
    }
    &-botton--small {
      display: none;
      @include width_950 {
        display: flex;
        font-size: 0.875rem;
        padding: 0.625rem 0.875rem;
        min-width: auto;
        position: relative;
        z-index: 8;
      }
    }
  }
  &__burger {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-left: 1.75rem;
    display: none;
    @include width_950 {
      display: block;
    }
    cursor: pointer;
    z-index: 8;
    & span,
    &::before,
    &::after {
      left: 0;
      position: absolute;
      height: 20%;
      width: 100%;
      transition: all .3s ease 0s;
      background-color: #fff;
      border-radius: 5px;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
    &--active {
      &::before {
        transform: rotate(-45deg) translateY(11px);
      }
      &::after {
        transform: rotate(45deg) translateY(-11px);
      }
      & span {
        display: none;
      }
    }
  }

}
.page-main {
  color: #fff;
  font-family: 'Circular-Std-Bold' ,sans-serif;

  &__achievements {
  }
}
.achievements {
  &::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--header-height));
    left: 0; 
    display: block;
    width: 100%;
    height: calc(100% + var(--header-height));
    background-image: url("../img/Grid_top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }

  &__header {
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__bottons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__botton {
    min-width: 11.25rem;
    &--bgColor {
      background-color: $secondaryBackground;
    }
    &-apply {
      &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-image: url('../img/fi_arrow-right.svg');
        background-repeat: no-repeat;
        margin-left: 0.75rem;
      }
    }
  }
  &__botton:not(:last-child) {
    margin-right: 2rem;
  }

  &__achievement {
    display: flex;
    margin-top: 5rem;
    font-family: 'Space_Mono', sans-serif;
    justify-content: space-between;
    margin-bottom: 13rem;
  }

  .achievement__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
      font-size: 1.25rem;
      color: #fff;
    }
    &-text {
      color: $icons;
      font-size: 1.125rem;
    }
  }
}
.featuredGrants {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("../img/Down_arrow.svg");
    height: 6.25rem;
    width: 2rem;
    position: absolute;
    bottom: calc(100% + 1.3125rem);
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Grid_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }

  .swiper-button-prev, .swiper-button-next{
    &::after {
      content: none;
    }
  }

  &__button-prev, &__button-next {
    min-width: 3rem;
    border-radius: 100%;
    background-color: #ffffff;
  }

  &__button-prev {
    transform: rotate(180deg);
    background-image: url("../img/fi_arrow-right-black.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__button-next {
    background-image: url("../img/fi_arrow-right-black.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__header {
    font-family: 'Circular-Std-Bold' ,sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-family: 'Circular-Std', sans-serif;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  &__link {
    font-family: 'Circular-Std', sans-serif;
    font-size: 1.125rem;
    color: $accentBrand;
    display: inline-flex;
    margin-bottom: 5rem;
    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../img/fi_arrow-right_brand.svg');
      background-repeat: no-repeat;
      margin-left: 0.5rem;
    }
  }
}

.grantProject {
  background-color: $secondaryBackground;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: var(--sliderCard-width);
  position: relative;
  border-radius: 0.16rem;
  &__textPanel {
    min-height: 28rem;
    flex: 1 1 auto;
  }
  &__label {
    font-family: 'Space_Mono', sans-serif;
    font-size: 1rem;
    color: $icons;
    margin-bottom: 0.5rem;
    line-height: 2rem;
    &--blockModifier {
      &::before {
        content: "";
        display: block;
        margin: calc(-1 * var(--sliderCard-width)) calc(-1 * var(--sliderCard-width)) 1.5625rem;
        min-height: 11.1875rem;
        border-radius: 1rem;
        background-color: #232334;
      }
    }
  }

  &__heading {
    font-family: 'Circular-Std-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__parameters {
    font-family: 'Space_Mono', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    color: $icons;
  }

  &__parameters-desc {
    margin-right: 0.5rem;
  }

  &__text {
    font-family: 'Circular-Std-Book', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__avatarPanel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__avatar {
    border: 0.02rem solid $secondaryBackground;
    border-radius: 50%;
    max-width: 2.5rem;
    object-fit: cover;
    &:not(:first-child) {
     margin-left: -0.15rem;
    }
  }
}

.whatsNew {
  margin-top: 10rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Grid_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }

  &__infoBlock {
  }

  &__header {
    position: relative;
    &::after {
      content: "";
      display: block;
      min-width: 3.9063rem;
      min-height: 3.75rem;
      position: absolute;
      bottom: 100%;
      right: calc(-1 * 3.75rem);
      transform: translateY(40%);
      background-image: url("../img/sparkle_icon.svg");
    }
  }
}

.blogpost {
  font-family: 'Circular-Std-Bold', sans-serif;

  &__cardsList {
    display: flex;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: $secondaryBackground;
    position: relative;
    border-radius: 1rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__image {
    object-fit: cover;
  }

  &__label {
    font-family: 'Space_Mono' ,sans-serif;
    font-size: 1rem;
    margin: 1.5625rem 1.5rem 0;
    color: $icons;
  }

  &__heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 1.5rem;
  }

  &__date {
    font-family: 'Space_Mono' ,sans-serif;
    font-size: 1rem;
    margin: 5rem 1.5rem 1.5rem 1.5rem;
    color: $icons;
  }
}

.faq {
  margin-top: 11.25rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Grid_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }
  &__infoBlock {
    margin-bottom: 5rem;
  }

  &__header {
    position: relative;
    &::after {
      content: "";
      display: block;
      background-image: url("../img/blue_circle.svg");
      height: 4rem;
      width: 14.375rem;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: -50%;
      right: -50%;
      transform: translate(-100%, 25%);
    }
  }

  &__text {
  }

  &__questions {
    
  }

  &__questionsList {
    display: flex;
    flex-direction: column;
    font-family: 'Circular-Std-Book', sans-serif;
  }

  &__question {
    display: flex;
    padding: 1.5rem 0;
    border-top: 0.0625rem solid #393953;
    border-bottom: 0.0625rem solid #393953;
  }

  &__questionText {
    font-size: 1.125rem;
  }

  &__questionIcon {
    margin-left: auto;
    cursor: pointer;
    transition: transform .4s;
  }

  &__questionIcon--clicked {
    transform: rotate(45deg);
  }

  &__answerText {
    border: none;
    margin: 1.25rem 0;
    font-size: 1.125rem;
    display: none;
    color: $icons;
  }

  &__answerText--visible {
    display: block;
  }
}

.applicationProcess {
  position: relative;
  margin-top: 10rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Grid_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }

  &__infoBlock {
  }

  &__header {
  }

  &__text {
  }

  &__cardSection {
    display: flex;
    margin-top: 3.75rem;
  }

  &__card {
    background-color: $secondaryBackground;
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 24.5rem;
    min-height: 30rem;
    position: relative;
    &--rotatedForward {
      transform: rotate(2deg) translateY(1.5rem);
      &::before {
        content: "";
        display: block;
        background-image: url("../img/Right_arrow_curved.svg");
        max-width: 7.5rem;
        width: 100%;
        max-height: 2.5rem;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -7.1875rem;
      }
    }

    &--rotatedBackward {
      transform: rotate(-1deg) translateY(0.375rem);
      &::after {
        content: "";
        display: block;
        background-image: url("../img/Right_arrow_curved_rotated.svg");
        max-width: 7.5rem;
        width: 100%;
        max-height: 2.5rem;
        height: 100%;
        background-size: cover;
        position: absolute;
        bottom: 6.5625rem;
        left: -5.6875rem;
      }
    }
    &:not(:last-child) {
      margin-right: 1.4375rem;
    }
    &:first-child {
      transform: rotate(-1deg);
    }
  }

  &__cardNumber {
    display: flex;
    font-family: 'Nanum_Pen_Script', sans-serif;
    font-size: 4rem;
    margin-bottom: 1.625rem;
  }

  &__cardHeading {
    font-family: 'Circular-Std-Bold', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__cardText {
    font-family: 'Circular-Std-Book', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.cta {
  margin-top: 8.375rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Grid_bottom.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
  }
  &__baner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);
    background: $accentBrand linear-gradient(326deg, #6966FF 24.5%, rgba(105, 102, 255, 0.36) 117.69%);
  }

  &__label {
    font-family: 'Circular-Std-Book', sans-serif;
    font-size: 1.125rem;
    letter-spacing: -0.0158rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-family: 'Circular-Std-Bold', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.055rem;
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  &__applyBtn {
    padding: 1rem;
    background-color: #FFFFFF;
    color: $accentBrand;
    &::after {
      background-image: url("../img/fi_arrow-right_purple.svg");
    }
  }
}

.pageFooter {
  margin-top: 10rem;
  margin-bottom: 2.5rem;
  color: $icons;

  &__items {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 2rem;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__navigationItem {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__navigationLink {
    display: inline-flex;
    transition: .3s ease-in-out;
    @include hover {
      &:hover {
        color: #fff;
      }
    }
    &--iconed {
      &::after {
        content: "";
        margin-left: 0.5rem;
        background-image: url("../img/fi_external-link.svg");
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__socialBar {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__socialBarLink {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__socialIcon {

  }
}










