@import "~the-new-css-reset";
@import "../css/fonts.scss";
@import "../css/colors.scss";

:root {
  --header-height: 7.5rem;
}

body {
  background-color: $primaryBackground;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: 83.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--small'] {
  max-width: 75.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--xsmall'] {
  max-width: 48.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.botton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8.8125rem;
  min-height: 3rem;
  background-color: $accentBrand;
  border-radius: 0.4556rem;
}

.header {
  color: #fff;
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 7;

  &__logo {
    margin-right: auto;
  }

  &__navigation {
    font-family: Space_Mono, sans-serif;
    font-size: 1rem;
    padding-left: 0.75rem;
    &-items {
      display: flex;
      align-items: center;
      &-item:not(:last-child) {
        margin-right: 16px;
      }
    }

  }
  &__bottons {
    font-family: Circular_Std, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    
    &-botton:first-child {
      margin-left: 0.75rem;
    }
    &-botton:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
.page-main {
  color: #fff;
  font-family: 'Circular-Std-Bold' ,sans-serif;
  position: relative;
  &__achievements {
    &::before {
      content: "";
      position: absolute;
      top: calc(-1 * var(--header-height));
      left: 0;
      display: block;
      width: 100%;
      height: calc(100% - var(--header-height));
      background-image: url("../img/Grid_top.svg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -3;
    }
  }
}
.achievements {
  &__header {
    font-size: 80px;
    font-style: normal;
    text-align: center;
    margin-bottom: 40px;
  }

  &__bottons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__botton {
    min-width: 11.25rem;
    &--bgColor {
      background-color: $secondaryBackground;
    }
    &-apply {
      &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-image: url('../img/fi_arrow-right.svg');
        background-repeat: no-repeat;
        margin-left: 0.75rem;
      }
    }
  }
  &__botton:not(:last-child) {
    margin-right: 2rem;
  }

  &__achievement {
    display: flex;
    margin-top: 5rem;
    font-family: 'Space_Mono', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13rem;
  }

  .achievement__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
      font-size: 1.25rem;
      color: #fff;
    }
    &-text {
      color: $icons;
      font-size: 1.125rem;
    }
  }
}
.featuredGrants {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("../img/Down_arrow.svg");
    height: 6.25rem;
    width: 2rem;
    position: absolute;
    bottom: calc(100% + 1.3125rem);
    left: 50%;
    transform: translateX(-50%);
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  &__description-header {
    font-family: 'Circular-Std-Bold' ,sans-serif;
    font-size: 40px;
    margin-bottom: 1rem;
  }
  
  &__description-text {
    font-family: 'Circular-Std', sans-serif;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  &__description-link {
    font-family: 'Circular-Std', sans-serif;
    font-size: 18px;
    color: $accentBrand;
    display: inline-flex;
    &::after {
      content: "";
      width: 24px;
      height: 1.5rem;
      background-image: url('../img/fi_arrow-right_brand.svg');
      background-repeat: no-repeat;
      margin-left: 0.5rem;
    }
  }
}



