@import "~the-new-css-reset";
@import "../css/fonts.scss";
@import "../css/colors.scss";

:root {
  --header-height: 7.5rem;
  --sliderCard-width: 1.5em;
}

body {
  background-color: $primaryBackground;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: 83.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--small'] {
  max-width: 75.1875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

[class*='__container--xsmall'] {
  max-width: 48.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.botton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8.8125rem;
  min-height: 3rem;
  background-color: $accentBrand;
  border-radius: 0.4556rem;
}

.header {
  color: #fff;
  min-height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 7;

  &__logo {
    margin-right: auto;
  }

  &__navigation {
    font-family: Space_Mono, sans-serif;
    font-size: 1rem;
    padding-left: 0.75rem;
    &-items {
      display: flex;
      align-items: center;
      &-item:not(:last-child) {
        margin-right: 1rem;
      }
    }

  }
  &__bottons {
    font-family: Circular_Std, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    
    &-botton:first-child {
      margin-left: 0.75rem;
    }
    &-botton:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
.page-main {
  color: #fff;
  font-family: 'Circular-Std-Bold' ,sans-serif;
  position: relative;
  &__achievements {
    &::before {
      content: "";
      position: absolute;
      top: calc(-1 * var(--header-height));
      left: 0;
      display: block;
      width: 100%;
      height: calc(100% - var(--header-height));
      background-image: url("../img/Grid_top.svg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -3;
    }
  }
}
.achievements {
  &__header {
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__bottons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__botton {
    min-width: 11.25rem;
    &--bgColor {
      background-color: $secondaryBackground;
    }
    &-apply {
      &::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-image: url('../img/fi_arrow-right.svg');
        background-repeat: no-repeat;
        margin-left: 0.75rem;
      }
    }
  }
  &__botton:not(:last-child) {
    margin-right: 2rem;
  }

  &__achievement {
    display: flex;
    margin-top: 5rem;
    font-family: 'Space_Mono', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13rem;
  }

  .achievement__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
      font-size: 1.25rem;
      color: #fff;
    }
    &-text {
      color: $icons;
      font-size: 1.125rem;
    }
  }
}
.featuredGrants {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("../img/Down_arrow.svg");
    height: 6.25rem;
    width: 2rem;
    position: absolute;
    bottom: calc(100% + 1.3125rem);
    left: 50%;
    transform: translateX(-50%);
  }
  &__slider {
  }

  &__slider-wrapper {
    width: 100%;
  }

  &__slide {

  }
  .swiper-button-prev, .swiper-button-next{
    &::after {
      content: none;
    }
  }

  &__button-prev, &__button-next {
    min-width: 3rem;
    border-radius: 100%;
    background-color: #ffffff;
  }

  &__button-prev {
    transform: rotate(180deg);
    background-image: url("../img/fi_arrow-right-black.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__button-next {
    background-image: url("../img/fi_arrow-right-black.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__header {
    font-family: 'Circular-Std-Bold' ,sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  &__text {
    font-family: 'Circular-Std', sans-serif;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  &__link {
    font-family: 'Circular-Std', sans-serif;
    font-size: 1.125rem;
    color: $accentBrand;
    display: inline-flex;
    margin-bottom: 5rem;
    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../img/fi_arrow-right_brand.svg');
      background-repeat: no-repeat;
      margin-left: 0.5rem;
    }
  }
}

.grantProject {
  background-color: $secondaryBackground;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: var(--sliderCard-width);
  position: relative;
  border-radius: 16px;
  &__textPanel {
    min-height: 28rem;
    flex: 1 1 auto;
  }
  &__label {
    font-family: 'Space_Mono', sans-serif;
    font-size: 1rem;
    color: $icons;
    margin-bottom: 0.5rem;
    line-height: 2rem;
    &--blockModifier {
      &::before {
        content: "";
        display: block;
        margin-left: calc(-1 * var(--sliderCard-width));
        margin-top: calc(-1 * var(--sliderCard-width));
        margin-right: calc(-1 * var(--sliderCard-width));
        margin-bottom: 1.5625rem;
        min-height: 11.1875rem;
        border-radius: 1rem;
        background-color: #232334;
      }
    }
  }

  &__heading {
    font-family: 'Circular-Std-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__parameters {
    font-family: 'Space_Mono', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    color: $icons;
  }

  &__parameters-desc {
    margin-right: 0.5rem;
  }

  &__text {
    font-family: 'Circular-Std-Book', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__avatarPanel {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  &__avatar {
    border: 2px solid $secondaryBackground;
    border-radius: 50%;
    max-width: 2.5rem;
    object-fit: cover;
    &:not(:first-child) {
     margin-left: -15px;
    }
  }
}

.whatsNew {
  margin-top: 10rem;
  position: relative;

  &__infoBlock {
  }

  &__header {
  }

  &__text {
  }

  &__link {
  }
}





